#raise_hand{
	position: absolute;
    width: 160px;
    height: 50px;
    /* opacity: 0.3; */
    z-index: 100;
    background: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    line-height: 50px;
    border-radius: 15px;
    color: white;
    top: calc(100vh - 160px);
    left: calc(50vw - 80px);
}

#people{
	position: absolute;
    width: 231px;
    z-index: 100;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: black;
    top: 60px;
    left: calc(100vw - 231px);
    background: rgba(0,0,0,0);
    border-radius: 15px;
}

.the_people{
	background: white;
    width: 90%;
    border-radius: 10px;
	padding: 10px;
    margin: 10px auto;
}